

<div style="margin-left:400px; margin-top: 50px;" >
  <div style="padding-left:115px">
    <img style="width : 300px; height :300px   ; object-fit: fill ;"
         src="./assets/images/locked/locked.jpg"
         class="align-middle ms-4"
         alt="logo"
    />
  </div>
    <h1><code style="padding-left: 180px;">Access Denied</code></h1>
    <h3 style="padding-left: 35px">You dont have permission to view this page.</h3>
    <div style="padding-left:200px;">
      <h3 style="padding-left: 20px;" >🚫🚫🚫🚫</h3>
    </div>
  </div>

