
<div class="main-content">
  <div class="container">
    <!-- Table -->
    <div class="row">
    <div class="col">
<!--      <div class="card-group shadow">-->
<!--        <h2 class="mb-5">Tasks List</h2>-->

<!--        <div class="mb-3">-->
<!--          <form class="search-bar" style="margin-left: 675px;">-->
<!--            <input type="search" name="search" pattern=".*\S.*" required>-->
<!--            <button class="search-btn" type="submit">-->
<!--              <span>Search</span>-->
<!--            </button>-->
<!--          </form>-->
<!--        </div>-->

<!--      </div>-->
    </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush" style="width : 350px;">
            <thead class="thead-light">
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Description</th>
              <th scope="col">Current-Status</th>
              <th scope="col">Task-Type</th>
              <th scope="col">Task-Priority</th>
              <th scope="col">Estimated-Due-Date</th>
              <th scope="col">Assigned Team-Member</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  style="cursor: pointer" *ngFor="let task of tasks"
                 title="Task Details"
                 [routerLink]="['/ui-components/task-details/'
                         ,task.id ,this.employeeLeaderId
                         ,this.projectManagerId,this.teamId ]">
              <th scope="row">
                <div class="media align-items-center">
                  {{task.name}}
                </div>
              </th>
              <td    >
                {{transform(task.description)}}
              </td>
              <td>
                <label>
<!--               <span [class]="onColorTaskStatus(enumToString(TaskStatus,task.currentStatus))" >-->
<!--                  {{enumToString(TaskStatus,task.currentStatus)}}-->
<!--               </span>-->
                  <span class="badge text-bg-primary">{{task.currentStatus.name}}</span>
                </label>
              </td>
              <td>
                <div class="avatar-group">
                  <label>
<!--                    <span  [class]="onColorTaskType(enumToString(TaskType ,task.taskType))">-->
<!--                      {{enumToString(TaskType ,task.taskType)}}-->
<!--                    </span>-->

                    <span class="badge text-bg-success">
                      {{task.type.name}}
                    </span>
                  </label>
                </div>
              </td>
              <td >
                <label>
<!--                  <span [class]="onColorTaskPriority(enumToString( TaskPriority ,task.priority))">-->
<!--                    {{enumToString( TaskPriority ,task.priority)}}-->
<!--                  </span>-->

                  <span class="badge text-bg-secondary">
                      {{task.priority.name}}
                    </span>
                </label>
              </td>
              <td class="text-center" >
              {{task.estimatedDueDate | date}}
              </td>
              <td  class="text-center" >
                  <span *ngIf="task.assignee" class="badge text-bg-light">
                                      {{task.assignee.employee.name}}
                  </span>
                  <span *ngIf="!task.assignee" class="badge text-bg-light">
                                      Not Assigned
                  </span>
              </td>
              <td>
                <div class="d-grid gap-2 d-md-block " >
                  <div>
                    <button class="btn btn-success btn-sm"
                            style="margin:2px;"
                            type="button"
                            [routerLink]="['/ui-components/edit-task/',task.id]">Edit</button>
                  </div>
<div>
  <button class="btn btn-primary btn-sm" type="button"
          style="margin:2px;"
          [routerLink]="['/ui-components/task-details/'
                         ,task.id ,this.employeeLeaderId
                         ,this.projectManagerId,this.teamId ]" >View</button>
</div>

<div>
  <button class="btn btn-danger btn-sm"
          (click)="onRemoveTask(task.id)"
          style="margin:2px;"
          type="submit">Remove</button>
</div>


                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

