<div id="container">
  <div id="content" class="shadow-lg p-3 mb-5 bg-body rounded">

    <div class="text-md-center">
      <img style="width : 160px; height :160px   ; object-fit: cover "
           src="./assets/images/logos/logoExpertsNew.png"
           class="align-middle m-2"
           alt="logo"
      />
      <div class="or-border m-t-30">or create user for the system</div>

    </div>
    <br>

<form  #userForm  [formGroup]="formReg" (ngSubmit)="submit()">


    <div class="row g-5">
      <div class="col">
        <!-- Name input -->
        <div class="form-outline">
          <label class="form-label" for="userName">User Name</label>
          <input placeholder="User Name"
                 formControlName="uname"
                 type="text" id="userName" class="form-control" />
        </div>
      </div>
      <div class="col">
        <!-- Email input -->
        <div class="form-outline">
          <label class="form-label" for="Email">Email address</label>
          <input type="email"
                 formControlName="email"
                 placeholder="Email" id="Email" class="form-control" />
        </div>
      </div>
    </div>

<br>
    <!-- Gutter g-5 -->
    <div class="row g-5">
      <div class="col">
        <!-- Pass input -->
        <div class="form-outline">
          <label class="form-label" for="Password">Password</label>
          <input type="password" id="Password"
                 formControlName = "password"
                 placeholder="Password"
                 class="form-control" />
        </div>
      </div>
      <div class="col">
        <!-- Role input -->
        <div class="form-outline">
          <label class="form-label">Select Role</label>
          <select
                  formControlName="roleName"
                  [(ngModel)]="selectedRole"
                  (change)="getRolePermissions(selectedRole)"
                  class="form-select"  aria-label="Default select example">
            <option value="" disabled selected>Select User Role</option>

            <option *ngFor="let item of rolesArr"
                    [value]="item.roleName">{{item.roleName}}</option>

          </select>
        </div>
      </div>
    </div>
<br>
    <div class="row g-5">

    <div class="col">
      <!-- First Name input -->
      <div class="form-outline">
        <label class="form-label" for="firstName">First Name</label>
        <input type="text"
               formControlName="fName"
               placeholder="First Name" id="firstName" class="form-control" />
      </div>
    </div>
    <div class="col">
      <!-- Last Name input  -->
      <div class="form-outline">
        <label class="form-label" for="lastName">Last Name</label>
        <input type="text"
               formControlName="lName"
               placeholder="Last Name" id="lastName" class="form-control" />
      </div>
    </div>
    </div>
    <br>
    <div>
      <div class="form-outline">
        <label class="form-label px-3">Job Title</label>
        <div class="col" >
          <ng-autocomplete
                  formControlName="jobTitle"
                  [data]="data"
                  [searchKeyword]="keyword"
                  placeholder="Select Job Title"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="form-outline" *ngIf="selectedRole != null"  formArrayName="permissions">
        <label class="form-label" >Select Permissions</label>
        <ngx-treeview
          [config]="config" [items]="items"
          (selectedChange)="values = $event">
        </ngx-treeview>
      </div>
    </div>

    <div class="row g-lg-5">
      <div class="col">
        <!-- Pass input -->
        <div class="form-outline">
          <div  style="padding-top:5px; padding-left:20px;  position: absolute">
            <button class="btn btn-success" type="button" [routerLink]="['/authentication/login']">
              <svg xmlns="http://www.w3.org/2000/svg"
                   class="icon icon-tabler icon-tabler-arrow-back"
                   width="26" height="26"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="#ffffff" fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
              </svg>
              Back To Log-In</button>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left:300px;">
        <!-- Role input -->
        <div class="form-outline" >
          <button class="btn btn-primary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler icon-tabler-user-plus"
                 width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
              <path d="M16 19h6" />
              <path d="M19 16v6" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
            </svg>
            Create User</button>
        </div>

      </div>
    </div>
</form>

</div>
</div>
