
<div style="width : 300px;">

</div>
<div style="width:642px;margin-left: 350px;" >
<div>
    <h6 class="d-inline text-start mb-4 pb-2"> Task Progressing</h6>
    <h6 class="d-inline text-end mb-4 pb-2" style="padding-left: 315px;"> Progressing Control</h6>
    <div class="mb-lg-3 row">
        <div class="col" style="margin-left:426px">
            <button class=" bi bi-file-plus btn-group-sm btn btn-outline-primary" style="margin: 2px" (click)="increaseProgress()">Increase</button>
            <button class=" bi bi-dash-square btn-group-sm btn btn-outline-warning"  style="margin: 2px" (click)="decreaseProgress()">Decrease</button>
        </div>


        <div class="col-sm-5" style="position: absolute">
            <div class="progress" style="margin-top:15px ">
                <div class="progress-bar progress-bar-striped
         progress-bar-animated" role="progressbar"
                     [style.width.%]="progressBarValue"
                     aria-valuenow="{{progressBarValue}}" aria-valuemin="0"
                     aria-valuemax="100">
                    {{ progressBarValue }}%
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <h6 class=" text-start  pb-2">Task Actions Flow</h6>
        <button  type="button" class="btn btn-outline-primary" (click)="startTask()">Start Task</button>
        <button  type="button" class="btn btn-outline-primary" (click)="assignTask()">Assign Task</button>
        <button  type="button" class="btn btn-outline-primary" (click)="markInProgress()">Mark In Progress</button>
        <button  type="button" class="btn btn-outline-primary" (click)="markResolved()">Mark Resolved</button>
        <button  type="button" class="btn btn-outline-primary" (click)="reopenTask()">Reopen Task</button>
        <button  type="button" class="btn btn-outline-primary" (click)="declineTask()">Decline Task</button>
        <button  type="button" class="btn btn-outline-primary" (click)="closeTask()">Close Task</button>
    </div>
</div>
</div>

<div class="d-inline p-2" id="container">
    <div id="content" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">


        <div class="row" style="overflow-y: scroll">
            <h4 class="text-center mb-4 pb-2"> Task Info</h4>

            <div class="col-md-6">
                <div>
                    <div class="d-inline p-2 text-dark  text-right fs-5">
                        <span style="font-size: 20px;">{{task.name}}</span>
                    </div>
<!--                        <div class="d-inline p-2  badge text-bg-light fs-6" style="margin-left:200px;">Created by:</div>-->
<!--                        <div  class=" d-inline p-2 badge text-bg-primary" >{{task.createdBy}}</div>-->
                </div>

            </div>
            <br><br>
            <div class="col-12">
                <div>
                    <div  class="tForm d-inline p-2  text-dark text-center wrap-text">{{task.description}}</div>
                </div>
            </div>
<br><br><br>

            <div class="col-md-6">
                <div class="d-inline p-2 badge text-bg-light  fs-6">Assigned to:</div>
                <div  class=" d-inline p-2" >{{task.assignedEmployee.id}}</div>
            </div>
            <br><br><br>
            <div class="col-md-6">
                <div class="d-inline p-2 badge text-bg-light fs-6">Task Status:</div>
                <div  class=" d-inline p-2 badge text-bg-primary" >{{task.currentStatus.name}}</div>
            </div>
            <br><br><br>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">Task Type:</div>
                <div  class=" d-inline p-2 badge text-bg-warning" >{{task.type.name}}</div>
            </div>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">Task Priority:</div>
                <div  class=" d-inline p-2 badge text-bg-primary" >{{task.priority.name}}</div>
            </div>
<br><br><br>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">Start Date:</div>
                <div  class=" d-inline p-2 " >11/5</div>
            </div>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">End Date:</div>
                <div  class=" d-inline p-2 " >8/26</div>
            </div>

        </div>
    </div>
</div>

<div style="position: absolute ; margin-left:400px;"  >
<app-reply-template  [taskId]="taskId"></app-reply-template>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="container1"  >
    <div id="content1">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <p class="navbar-brand fs-5" style="padding-left : 235px;">Last Active</p>
            </div>
        </nav>
            <div class="page">
                <div class="timeline" *ngFor="let time of task.taskTimeline">
                    <div class="timeline__group" >
                        <span class="timeline__year time" aria-hidden="true">{{time.transitionDate | date}} 8/27 11:50</span>
                        <div class="timeline__cards">
                            <div class="timeline__card card">
                                <header class="card__header">
                                    <span style="background-color: rgb(101,142,250); border-radius: 5px" class="text-white"  >
                                       <label style=" margin:15px; font-size: 0.75em ; font-weight: bold">  Assigned To</label>
                                      </span>
                                </header>
                                <div class="card__content">
                                <p>{{time.assignedUser}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__group">
                        <span class="timeline__year time" aria-hidden="true">{{time.transitionDate | date}}8/29 11:00</span>
                        <div class="timeline__cards">
                            <div class="timeline__card card">
                                <header class="card__header">
                                    <span style="background-color: rgb(101,142,250); border-radius: 5px" class="text-white"  >
                                       <label style=" margin:15px; font-size: 0.75em ; font-weight: bold"> From State</label>
                                      </span>
                                </header>
                                <div class="card__content">
                             <p>{{time.fromState}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__group">
                        <span class="timeline__year time" aria-hidden="true">{{time.transitionDate | date}}9/1 12:00</span>
                        <div class="timeline__cards">
                            <div class="timeline__card card">
                                <header class="card__header">
                                    <span style="background-color: rgb(101,142,250); border-radius: 5px" class="text-white"  >
                                       <label style=" margin:15px; font-size: 0.75em ; font-weight: bold">  To State</label>
                                      </span>
                                </header>
                                <div class="card__content">
                               <p>{{time.toState}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>
    <div>
            <div id="content2">
                <h4 class="text-center mb-4 pb-2">Attachments List</h4>
                <div class="row">
<app-upload-multiple-files    [OwnerId]="taskId" [filesOfTask]="task.attachments" [type]="type" [typeId]="typeId"></app-upload-multiple-files>
                </div>

            </div>
    </div>
    </div>




