<div>
<div>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <p class="navbar-brand fw-semibold" >Task Details</p>
        </div>
    </nav>
</div>
<div>
<br>
    <div>
        <form class="row gy-2 gx-3 align-items-center">
            <div class="mb-lg-3 row" >
                <div class="col-sm-5" style="position: absolute">
                    <div class="progress" style="margin-top:15px ">
                        <div class="progress-bar progress-bar-striped
         progress-bar-animated" role="progressbar"
                             [style.width.%]="progressBarValue"
                             aria-valuenow="{{progressBarValue}}" aria-valuemin="0"
                             aria-valuemax="100">
                            {{ progressBarValue }}%
                        </div>
                    </div>
                </div>

                <div class="col" style="margin-left:600px">
                    <button class=" bi bi-file-plus btn-group-sm btn btn-outline-primary"
                            style="margin: 2px" (click)="increaseProgress(progressBarValue)">Increase</button>
                    <button class=" bi bi-dash-square btn-group-sm btn btn-outline-warning"
                            style="margin: 2px" (click)="decreaseProgress(progressBarValue)">Decrease</button>
                    <button class="btn-group-lg btn btn-success" type="submit" (click)="changeProgressTask()">Submit Progress</button>
                </div>
            </div>

        </form>
    </div>

</div>

<div>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <h6 class=" text-start navbar-brand  pb-2" style="margin:5px;">Task Actions Flow</h6>

            <button  type="button" class="btn btn-outline-primary" *ngIf="checkForStart()"
                     (click)="startTask(task.id)">Start Task</button>

        <button type="button" class="btn btn-outline-primary" *ngIf="checkForResolve()"
                (click)="resolveTask(task.id)">Resolve</button>
        <button  type="button" class="btn btn-outline-primary" *ngIf="checkForReOpen()"
                 (click)="reopenTask(task.id)">Reopen Task</button>
        <button type="button" class="btn btn-outline-primary" *ngIf="checkForDeclined()"
                (click)="declineTask(task.id)">Decline Task</button>
        <button  type="button" class="btn btn-outline-primary" *ngIf="checkForClose()"
                 (click)="closeTask(task.id)">Close Task</button>
      <button type="button"
              (click)="openDialogEmp()"
              class="btn btn-outline-primary" *ngIf="checkForReAssigned()">Assign Task</button>

    </div>
</div>
</div>




<div class="d-inline p-2" id="container">
    <div id="content" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">


        <div class="row" style="overflow-y: scroll">
            <h4 class="text-center mb-4 pb-2 navbar-brand"> Task Info</h4>

            <div class="col-md-6">
                <div>
                    <div class="d-inline p-2 text-dark  text-right fs-5">
                        <span style="font-size: 20px;">{{task.name}}</span>
                    </div>
<!--                        <div class="d-inline p-2  badge text-bg-light fs-6" style="margin-left:200px;">Created by:</div>-->
<!--                        <div  class=" d-inline p-2 badge text-bg-primary" >{{task.createdBy}}</div>-->
                </div>

            </div>
            <br><br>
            <div class="col-12">
                <div>
                    <div  class="tForm d-inline p-2
                     text-dark text-center wrap-text">{{task.description}}</div>
                </div>
            </div>
<br><br><br>

            <div class="col-md-6">
                <div class="d-inline p-2 badge text-bg-light  fs-6">Assigned to:</div>
                <div  class=" d-inline p-2" >{{task.assignedEmployee.name}}</div>
            </div>
            <br><br><br>
            <div class="col-md-6">
                <div class="d-inline p-2 badge text-bg-light fs-6">Task Status:</div>
                <div  class=" d-inline p-2 badge text-bg-primary" >{{task.currentStatus.name}}</div>
            </div>
            <br><br><br>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">Task Type:</div>
                <div  class=" d-inline p-2 badge text-bg-warning" >{{task.type.name}}</div>
            </div>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">Task Priority:</div>
                <div  class=" d-inline p-2 badge text-bg-primary" >{{task.priority.name}}</div>
            </div>
<br><br><br>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">Start Date:</div>
                <div  class=" d-inline p-2 " >11/5</div>
            </div>
            <div class="col-md-6">
                <div class="d-inline p-2  badge text-bg-light fs-6">End Date:</div>
                <div  class=" d-inline p-2 " >8/26</div>
            </div>

        </div>
    </div>
</div>

<div style="position: absolute ; margin-left:400px;width:640px;"  >
<app-reply-template  [taskId]="taskId"></app-reply-template>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="container1"  >
    <div id="content1">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <p class="navbar-brand fs-5 fw-semibold" style="padding-left : 235px;">Task Time-Line</p>
            </div>
        </nav>
            <div class="page" style="overflow-y: scroll ; height: 680px;">
                <div class="timeline" *ngFor="let time of task.taskTimeline">
                    <div class="timeline__group" >
                        <span class="timeline__year time" aria-hidden="true">{{time.transitionDate | date}} 8/27 11:50</span>
                        <div class="timeline__cards">
                            <div class="timeline__card card">
                                <header class="card__header">
                                    <span style="background-color: rgb(101,142,250); border-radius: 5px" class="text-white"  >
                                       <label style=" margin:15px; font-size: 0.75em ; font-weight: bold">  Assigned To</label>
                                      </span>
                                </header>
                                <div class="card__content">
                                <p>{{time.assignedUser}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__group">
                        <span class="timeline__year time" aria-hidden="true">{{time.transitionDate | date}}8/29 11:00</span>
                        <div class="timeline__cards">
                            <div class="timeline__card card">
                                <header class="card__header">
                                    <span style="background-color: rgb(101,142,250); border-radius: 5px" class="text-white"  >
                                       <label style=" margin:15px; font-size: 0.75em ; font-weight: bold"> From State</label>
                                      </span>
                                </header>
                                <div class="card__content">
                             <p>{{time.fromState}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__group">
                        <span class="timeline__year time" aria-hidden="true">{{time.transitionDate | date}}9/1 12:00</span>
                        <div class="timeline__cards">
                            <div class="timeline__card card">
                                <header class="card__header">
                                    <span style="background-color: rgb(101,142,250); border-radius: 5px" class="text-white"  >
                                       <label style=" margin:15px; font-size: 0.75em ; font-weight: bold">  To State</label>
                                      </span>
                                </header>
                                <div class="card__content">
                               <p>{{time.toState}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>
    <div>
            <div id="content2">
                <h4 class="text-center mb-4 pb-2">Attachments List</h4>
                <div class="row">
<app-upload-multiple-files    [OwnerId]="taskId" [filesOfTask]="task.attachments" [type]="type" [typeId]="typeId"></app-upload-multiple-files>
                </div>

            </div>
    </div>
    </div>




