
  <div class="d-flex justify-content-center mt-5">
    <div>
      <h1>Create Project...</h1>
  <form class="row g-3" [formGroup]="projectForm" (ngSubmit)="onSubmit()"  >

      <div class="col-md-6">
        <label for="inputName" class="form-label">Project Name</label>
        <input formControlName="name" type="text" class="form-control" id="inputName">
      </div>

      <div  class="col-md-6">
        <label for="inputDescription" class="form-label">Description</label>
        <input formControlName="description" type="text" class="form-control" id="inputDescription" >
      </div>
    <div class="col-md-6">
      <label for="fileProject" class="form-label">File upload:</label>
      <input  class="form-control" type="file"
             accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
             id="fileProject"
             (change)="onFileSelected($event)">
    </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Estimated Start Date</label>
        <input type="date" class="form-control" id="inputState"
               formControlName="estimatedStartDate" >
      </div>
    <div class="col-md-4">
      <label for="inputState1" class="form-label">Estimated End Date</label>
      <input type="date" class="form-control" id="inputState1"
             formControlName="estimatedEndDate" >
    </div>
          <div class="col-md-4" style="margin-left:180px;">
            <label for="Teams" class="form-label">Choose Team  *(Optional) </label>
            <ng-multiselect-dropdown
              id="Teams"
              formControlName="teamID"
              [placeholder]="'Teams'"
              [settings]="dropdownSettings"
              [data]="availableTeams"
              (onSelect)="onTeamSelect($event)"
              (onDeSelect)="onTeamDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>


    <div class="row-cols-md-3" style="margin-top: 80px; text-align: left">
        <button type="submit" class="btn btn-primary" >Create</button>
     </div>

  </form>
    </div>
  </div>
