
<div>
    <form  #roleForm  [formGroup]="formRole" (ngSubmit)="createRole()">
        <div  class="navbar navbar-light bg-light">
            <p class="fw-normal fs-5 ms-3">
                Add Role
            </p>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio1" id="btnradio1"
                       autocomplete="off" checked>
                <label class="btn btn-outline-info text-white" for="btnradio1"
                       [routerLink]="['/ui-components/user-role']">
                    Back to Roles</label>
                <div class="d-inline p-2"></div>
            </div>
        </div>
        <br>
        <div class="col">
            <!-- Role input -->
            <div class="form-outline">
                <label class="form-label"> Role Name</label>
                <input type="text"
                       formControlName="roleName"
                       placeholder="Role Name" id="roleName" class="form-control" />
            </div>
        </div>
        <br>
        <div class="col">
            <div class="form-outline" formArrayName="permissions">
                <label class="form-label" >Select Permissions</label>
                <ngx-treeview
                        [config]="config" [items]="items"
                        (selectedChange)="values = $event">
                </ngx-treeview>
            </div>
        </div>
        <div class=" d-grid gap-2 col-6 mx-auto form-outline"
             *ngIf="this.permissionService.checkPermission([55])">
            <button class="btn btn-success col" type="submit" style="position: absolute ;"
            >Add Role</button>
        </div>
    </form>
</div>
