<nav  class="navbar bg-light mb-3" >
  <div class="container-fluid">
    <header class="fs-5 px-2">Edit {{teamData.teamName}}</header>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio1" id="btnradio1"
             autocomplete="off" checked>
      <div class="d-inline p-2"></div>
    </div>
  </div>
</nav>

<div id="container">
  <div id="content" class="d-inline p-2 shadow-lg p-3 mb-5 bg-body rounded">
    <form [formGroup]="teamForm"  >
      <div class="col-12">
        <label for="inputName" class="form-label">Team Name</label>
        <input type="text" formControlName="teamName" class="form-control" id="inputName">
      </div>
      <br>
      <div>
        <div class="row g-3" style="margin-left: 10px;">
 <!--         <div class="col-sm-10">
                <label>Select New Employees</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Employees'"
                  [settings]="dropdownSettings"
                  [data]="employees"
                  (onSelect)="onEmployeeSelect($event)"
                  (onDeSelect)="onEmployeeDeSelect($event)">
                </ng-multiselect-dropdown>
          </div>-->
          <div class="col-sm" style="margin-top: 40px;">
            <label>Select New Employees</label>
            <button
              class="btn btn-success" (click)="openModal(template)">
              Add Employees
            </button>
 <!--           <button
              class="btn btn-success" (click)="onAddEmployee(selectedItems)">
              Add Selected Employees
            </button>-->
          </div>
        </div>
        <br><br>
      <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start"
            *ngFor="let item of teamMembers"
            [value]="item.employee.id">
          <div class="ms-2 me-auto">
            <div class="fw-semibold">{{item.employee.name}}</div>
          </div>
          <span class="rounded-pill">
                        <button  class="btn btn-danger"
                                 (click)="removeEmployee(item)" *ngIf="item.isTeamLeader !== true">Remove</button>
                                  <h4> <span  class="badge bg-primary"
                                            *ngIf="item.isTeamLeader === true">Team Lead</span></h4>
          </span>
        </li>


      </ul>

      </div>
      <br><br>
      <div class="d-grid gap-2 col-6 mx-auto form-outline " >
        <button class="btn btn-primary col" type="submit" (click)="updateTeam()">
          Submit Edit Team</button>
      </div>
    </form>

  </div>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select Employees</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let employee of checkboxList">
      <input type="checkbox" [checked]="employee.checked" (change)="employee.checked = !employee.checked"> {{employee.name}}
    </div>
    <button (click)="AddEmployees()" type="button" class="btn btn-success">Add</button>
  </div>
</ng-template>
