#container {
  background: rgb(197, 197, 197);
  height: 950px;
  position: relative;
  width:100%;
}

#content {
  background: white;
  margin-left: 400px;
  margin-top:20px;
  bottom: 0;
  height: 600px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;

}
