#container {
  background: rgb(243, 247, 255);
  height: 530px;
  position: relative;
  width: 100%;
}

#content {
  bottom: 0;
  height: 530px;
  left: 0;
  position:absolute;
  right: 0;
  top: 0;
  width: 100%;
}

