
<main>
  <mat-toolbar color="primary">
    <button mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>

    <h4 style="color:rgb(233,255,2)"> Teams List </h4>
  </mat-toolbar>
</main>


<div class="main-content">
  <div class="container">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <!--      <div class="card-group shadow">-->
        <!--        <h2 class="mb-5">Tasks List</h2>-->

        <!--        <div class="mb-3">-->
        <!--          <form class="search-bar" style="margin-left: 675px;">-->
        <!--            <input type="search" name="search" pattern=".*\S.*" required>-->
        <!--            <button class="search-btn" type="submit">-->
        <!--              <span>Search</span>-->
        <!--            </button>-->
        <!--          </form>-->
        <!--        </div>-->

        <!--      </div>-->
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>

          <th scope="col">Team Name</th>

          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>

          <th scope="col" class="text-center" >Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr  style="cursor: pointer" class="trD" *ngFor="let team of teams">
          <th scope="row">
            <div class="media align-items-center">
              {{team.teamName}}
            </div>
          </th>

          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th scope="row" class="text-center">
            <div class="d-grid gap-2 d-md-block " >
              <button class="btn btn-success btn-sm" type="button" [routerLink]="['/ui-components/edit-team/',team.id]">Edit</button>
              <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/ui-components/team-details',team.id]" >View</button>
              <button class="btn btn-danger btn-sm" type="button">Remove</button>

            </div>
          </th>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


